body, html {
  font-family: sans-serif;
  max-width: 1000px;
  margin: auto;
  font-size: 16px;
  background-color: #eee;
  height: 100vh;
  box-sizing: border-box;
}

main {
  padding: 30px;
  background-color: #fff;
}

li > ul {
  padding-inline-start: 1.5rem;
}

h1, h2 {
  color: rgb(1, 109, 156);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  
}
  @media (max-width: 695px) {
    h1 {
      font-size: 2rem;
    }
  }

a, a:link, a:hover, a:visited, a:active {
  /* text-decoration: none;  */
  color: rgb(5, 60, 200);
}

img {
  max-width: 100%;
}

div.foto-enlaces {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;

}

div.flex-50 {
  flex-grow: 1;
  width: 45%;
  
}

div.flex-33 {
  flex-grow: 1;
  width: 30%;
}


footer {
  font-style: italic;
  font-size: 0.85rem;
  font-weight: bold;
  padding-bottom: 0.85rem;
}






/* img.peque {
  max-width: 300px;
}

img.mediana {
  max-width: 458px;
} */

/* div.foto-principal {
  padding-bottom: 15px;
  max-width: 1000px;
  }
.foto-principal img {
  max-width:99%;
  max-height:99%;
} */

