body {
  font-family: sans-serif;
  max-width: 1000px;
  margin: auto;
  font-size: 16px;
  background-color: #eee;
}

main {
  /* border: 1px solid gray; */
  padding: 30px;
  background-color: #fff;
}

h1 {
  font-size: 3rem;
}

@media (max-width: 695px) {
  h1 {
    font-size: 2rem;
  }
}

img.peque {
  max-width: 300px;
}

div.foto-principal {
  padding-bottom: 15px;
}

div.foto-enlaces {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.foto-enlaces footer {
  font-style: italic;
  font-size: 0.85rem;
}

